on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

name: continuous-integration

defaults:
  run:
    shell: bash

env:
  CI_SCRIPTS: ".github/workflows/scripts"

jobs:
  tests:
    strategy:
      fail-fast: true
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-20.04]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v3

      - name: Set platform-specific variables
        run: bash $CI_SCRIPTS/set-platform-specific-variables.sh

      - name: Install Nushell from Nightly
        run: bash $CI_SCRIPTS/install-nightly-nushell.sh

      - name: Show Nushell Version
        run: |
          "$HOME/${{ env.NU_BIN }}" --commands "version"

      - name: Run the tests
        run: |
          "$HOME/${{ env.NU_BIN }}" --commands "use ${{ env.CWD }}/nupm/; nupm test"
