on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

name: continuous-integration

defaults:
  run:
    shell: nu {0}

env:
  CI_SCRIPTS: ".github/workflows/scripts"

jobs:
  tests:
    strategy:
      fail-fast: true
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-20.04]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v3

      - uses: hustcer/setup-nu@v3.7
        with:
          version: nightly

      - name: Show Nushell Version
        run: version

      - name: Run the tests
        run: nu --commands $"use ($env.PWD)/nupm/; nupm test"
